---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argo-cd
spec:
  destination:
    namespace: traefik
    server: https://kubernetes.default.svc
  project: default
  revisionHistoryLimit: 3
  source:
    path: kustomize/traefik/
    repoURL: https://github.com/DuraCHYo/k3s-infra.git
    targetRevision: master

