- name: play install k3s
  become: true
  hosts: all
  tasks:
    - name: install k3s on node {{ ansible_hostname }}
      shell: curl -sfL https://get.k3s.io | sh -s - server --disable=traefik
      when:
        - install_k3s