- name: describe argocd password resource
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: argocd-initial-admin-secret
    namespace: argo-cd
  register: argocd_secret
- name: describe grafana password resource
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: victoria-metrics-grafana
    namespace: monitoring
  register: grafana_secret
- name: print generated passwords resource
  debug:
    msg:
    - "Grafana admin password: {{ grafana_secret.resources[0].data['admin-password'] | b64decode }}"
    - "Grafana admin user: {{ grafana_secret.resources[0].data['admin-user'] | b64decode }}"
    - "ArgoCD admin password: {{ argocd_secret.resources[0].data['password'] | b64decode }}"
    - "ArgoCD admin user: admin"
- name: get kubeconfig
  slurp:
    src: "/etc/rancher/k3s/k3s.yaml"
  register: kubeconfig_from_cluster
- name: display replacd localhost with host ip address for .kube/config
  set_fact:
    kubeconfig_content: "{{ kubeconfig_from_cluster.content | b64decode | replace('127.0.0.1', ansible_default_ipv4.address) }}"